body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2em;
}

.main {
  max-width: 1200px;
  margin: 0 auto;
}

.list-contact p {
  display: inline;
}

.codeJS {
  background: #e1ddd7;  
}

.footer p {
  margin: 10px;
  text-align: center;
}
